.header{
	background:#373c3f;
	font-size:15px;
	color:white;
	height: 75px;
}
.main{
	width: 640px;
	margin: auto;
	font-family: Myfont;
}
nav{
	display: none;
}
li{
	float: left;
	margin-right: 30px;
}
.textnav{
	position:absolute;
	padding-left:38px;
	padding-top:25px;
	font-size:24px;
	width:160px;
}
.btnnav{
	float:right;
	height:75px;
	width:80px;
	background:url(img/menu.jpg) no-repeat center;
	background-size:cover;
}
.button{
	cursor: pointer;
}

.banner1{
	height:350px;
	background: url(img/Banner.jpg) no-repeat bottom;
	background-size:cover;
}

.banner2{
	height:150px;
	background: url(img/textBox.jpg) no-repeat;
	background-size:cover;
}

.banner3{
	background:url(img/1.jpg) no-repeat;
	background-size:cover;
	height:553px;
	width:640px;
}

.banner4{
	background:url(img/2.jpg) no-repeat;
	background-size:cover;
	height:553px;
	width:640px;
}

.banner5{
	background:url(img/3.jpg) no-repeat;
	background-size:cover;
	height:554px;
	width:640px;
}

.sumbanner{
	height:1660px;
}

footer{
	position:relative;
	height:893px;
}

.textblock1{
	position:absolute;
	height:783px;
	width:490px;
	padding:55px 75px;
}

.textblock2{
	display: none;
}

.text{
	
	line-height: 44px;
	font-size:22px;
	color:#515151;
}

.margin2{margin-top:40px;}
.margin1{margin-top:30px;}
.Blaz {
	color:#088ca5;
	font-size:30px;
}